body {

  height:100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.ReactModalPortal{
  z-index:9000!important;
  
}
.sliding-pane-custom{
  z-index:9000!important;
  padding-top: 58px;
}

.slide-pane__title-wrapper{
  display:none!important;
}

.slide-pane__close {
  /* margin-left: 24px; */
  padding: 16px;
  opacity: 1;
  cursor: pointer;
  float: right;
  display: block;
  position: absolute;
  right: 0px;
}
.fixed-top{
  /* z-index:1; */
}